<%- include('includes/head.ejs') %>
        </head>

        <body>
                <h1>
                        <%= pageTitle %>
                </h1>
                <p>Some Error Occured</p>
                <small>Fixing it currently, sorry for the inconvenience</small>
                <%- include('includes/end.ejs') %>